</div><!-- /.clearfix -->

  <div id="back_to_top" class="flexible_container">
    <a href="#top_of_page">^ <em>going up?</em> ^</a>
  </div>

	<div id="footer">
    <div class="container">
			<div class="span-5 colborder">
				<h4>About FetLife</h4>
				<ul>
				  <li><a href="/fetlife/team">Our Team</a></li>
				  <li><a href="/fetlife/greeters">Greeters</a></li>
				  <li><a href="/fetlife/caretakers">Caretakers</a></li>
				  <li><a href="/fetlife/presentations">Presentations</a></li>
				  <li><a href="/fetlife/contact_us">Contact Us</a></li>
				</ul>

        <h4>We're Growing</h4>
        <ul>
          <li><a href="/fetlife/join_the_family">Join the FetLife Family</a></li>
        </ul>
				
				<h4>Advertising</h4>
				<ul>
				  <li><a href="/ads">Advertise on FetLife</a></li>
				  <li><a href="/ads/all">Our Advertisers</a></li>
				</ul>
			</div>
			<div class="span-5 colborder">
				<h4>What's New?</h4>
				<ul>
				  <li><a href="/groups/311">Announcements</a></li>
				  <li><a href="/fetlife/changelog">Changelog</a></li>
				</ul>

				<h4>Need help?</h4>
				<ul>
				  <li><a href="/help">Frequently Asked Questions</a></li>
				  <li><a href="/groups/693">Support Forum</a></li>
                    <li><a href="/improvements">Suggestion Box</a></li>
				</ul>

				<h4>Bathroom Material</h4>
				<ul>
				  <li><a href="/fetlife/community_guidelines">Community Guidelines</a></li>
				  <li><a href="/fetlife/group_leader_guidelines">Group Leader Guidelines</a></li>
				  <li><a href="/fetlife/2257exempt">2257 Exempt</a></li>
				  <li><a href="/fetlife/privacy">Privacy Policy</a></li>
				  <li><a href="/fetlife/tou">Terms of Use</a></li>
				</ul>
			</div>
			<div class="span-5 colborder">
				<h4>FetLife Gives Back</h4>
				<ul>
				  <li><a href="/fetlife/open_source_projects">Open Source Projects</a></li>
				  <li><a href="/fetlife/organizations_we_support">Organizations We Support</a></li>
				</ul>

        <h4>Support <span class="sprite redheart pd1"></span> FetLife</h4>
				<ul>
				  <li><a href="/support">Support FetLife Today!</a></li>
				</ul>

				<h4>Projects</h4>
				<ul>
				  <li><a href="/fetlife/front_page_picture">Front Page Picture</a></li>
				</ul>

				<h4>Swag &amp; Media</h4>
				<ul>
				  <li><a href="/fetlife/schwag">I <span class="amp">&amp;</span> We (heart) FetLife Button</a></li>
				  <li><a href="/fetlife/podcast_bumpers">Podcast Bumpers</a></li>
				</ul>
			</div>
			<div class="span-6 last">
				<ul class="social_media">
          <li>
            <a href="http://www.facebook.com/pages/FetLifecom/213152362056575" class="bcht tdn pd3">
              <span class="sprite facebook" alt="Fan us on Facebook" title="Fan us on Facebook" ></span>
            </a>
            <a href="http://www.facebook.com/pages/FetLifecom/213152362056575"><span>Become a fan on Facebook</span></a>
          </li>
          <li>
            <a href="http://twitter.com/fetlife" class="bcht tdn pd3">
              <span class="sprite twitter" alt="Follow us on Twitter" title="Follow us on Twitter" ></span> 
            </a>  
            <a href="http://twitter.com/fetlife"><span>Follow us on Twitter</span></a>
          </li>
          <li>
            <a href="http://delicious.com/save" class="bcht tdn pd3" onclick="window.open('http://delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent('http://fetlife.com')+'&title='+encodeURIComponent('Bondage, BDSM &amp; Fetish Community For Kinksters, By Kinksters - FetLife'), 'delicious','toolbar=no,width=550,height=550'); return false;">
              <span class="sprite delicious" alt="Bookmark FetLife on Delicious" title="Bookmark FetLife on Delicious" ></span>
            </a> 
            <a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent('http://fetlife.com')+'&title='+encodeURIComponent('Bondage, BDSM &amp; Fetish Community For Kinksters, By Kinksters - FetLife'), 'delicious','toolbar=no,width=550,height=550'); return false;">
              <span>Bookmark us on Delicious</span>
            </a>
          </li>
          <li>
            <a href="http://www.stumbleupon.com/submit?url=http://fetlife.com" class="bcht tdn pd3">
              <span class="sprite stumbleupon" alt="StumbleUpon FetLife" title="StumbleUpon FetLife" ></span> 
            </a>
            <a href="http://www.stumbleupon.com/submit?url=http://fetlife.com"><span>StumbleUpon FetLife</span></a>
          </li>
				</ul>
			</div>
			<div class="span-24 last quiet" id="trademark">
			  <br/>
				<p>
				  All text and design is copyright &copy;2007-2012 BitLove Inc. All rights reserved.<br/>
				  The name and logo for FetLife are trademarks of BitLove Inc.
				</p>
			</div>
		</div>
	</div>
        
</body>
</html>